[submodule "ansible/roles/ansible-logrotate"]
	path = ansible/roles/ansible-logrotate
	url = https://github.com/nickhammond/ansible-logrotate.git
[submodule "commcare-hq-deploy"]
	path = commcare-hq-deploy
	url = git@github.com:OpenFn/commcare-hq-deploy.git
	branch = master
